@model IDGenWebsite.Models.EmployeeModel
<!--Modal-->
@Html.AntiForgeryToken()
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Roles" class="control-label"></label>
    <div asp-for="Roles" class="editor-field">
        @Html.DropDownListFor(m => m.SelectedRole, Model.Roles, "---Select A Role---", new { @class = "form-control", @id = "Role" })
    </div>
    <span asp-validation-for="Roles" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Password" class="control-label"></label>
    <div asp-for="Password">
        @Html.PasswordFor(m => m.Password)
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
</div>


