@model IDGenWebsite.Models.Users
<!--Modal-->
@Html.AntiForgeryToken()
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="UserSourcedId" class="control-label"></label>
    <input asp-for="UserSourcedId" class="form-control" readonly />
    <span asp-validation-for="UserSourcedId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Identifier" class="control-label"></label>
    <input asp-for="Identifier" class="form-control" readonly />
    <span asp-validation-for="Identifier" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="GivenName" class="control-label"></label>
    <input asp-for="GivenName" class="form-control" />
    <span asp-validation-for="GivenName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FamilyName" class="control-label"></label>
    <input asp-for="FamilyName" class="form-control" />
    <span asp-validation-for="FamilyName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="QrCode" class="control-label"></label>
    <input asp-for="QrCode" class="form-control" />
    <span asp-validation-for="QrCode" class="text-danger"></span>
</div>
<!-- class="form-group">
    <label asp-for="GradeLevel" class="control-label"></label>
    <input asp-for="GradeLevel" class="form-control" />
    <span asp-validation-for="GradeLevel" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HomeRoomTeacher" class="control-label"></label>
    <input asp-for="HomeRoomTeacher" class="form-control" />
    <span asp-validation-for="HomeRoomTeacher" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HomeRoomTeacherEmail" class="control-label"></label>
    <input asp-for="HomeRoomTeacherEmail" class="form-control" />
    <span asp-validation-for="HomeRoomTeacherEmail" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HasBeenManuallyEdited" class="control-label"></label>
    <input asp-for="HasBeenManuallyEdited" class="form-control" readonly />
    <span asp-validation-for="HasBeenManuallyEdited" class="text-danger"></span>
</div>-->
