@{
    ViewData["Title"] = "Admin Dashboard";
}
<!--First Row-->
<div class="row d-flex justify-content-center">
    <div class="card-deck">
        <!--Orgs Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Organizations</h4>
                <p class="card-text" id="orgsCount"></p>
                <a href="~/RosterData/Orgs" class="stretched-link"></a> 
            </div>
        </div>
        <!--Academic Sessions Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Academic Sessions</h4>
                <p class="card-text" id="sessionsCount"></p>
                <a href="~/RosterData/Sessions" class="stretched-link"></a> 
            </div>
        </div>
        <!--Users Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <p class="card-text" id="usersCount"></p>
                <a href="~/RosterData/Users" class="stretched-link"></a> 
            </div>
        </div>
    </div>
</div>
<!--Second Row-->
<div class="row d-flex justify-content-center">
    <div class="card-deck">
        <!--Courses Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Courses</h4>
                <p class="card-text" id="coursesCount"></p>
                <a href="~/RosterData/Courses" class="stretched-link"></a> 
            </div>
        </div>
        <!--Classes Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Classes</h4>
                <p class="card-text" id="classesCount"></p>
                <a href="~/RosterData/Classes" class="stretched-link"></a> 
            </div>
        </div>
        <!--Enrollments Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Enrollments</h4>
                <p class="card-text" id="enrollmentsCount"></p>
                <a href="~/RosterData/Enrollments" class="stretched-link"></a> 
            </div>
        </div>
    </div>
</div>
<!--Third Row-->
<div class="row d-flex justify-content-center">
    <div class="card-deck">
        <!--No Id Photo Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Missing Id Photos</h4>
                <p class="card-text" id="noIdCount"></p>
                <a href="~/Report/" class="stretched-link"></a> 
            </div>
        </div>
        <!--No QR Code Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Missing Qr Codes</h4>
                <p class="card-text" id="noQrCount"></p>
                <a href="" class="stretched-link"></a> 
            </div>
        </div>
        <!--Invalid Email Card-->
        <div class="card dashboard-card">
            <div class="card-body">
                <h4 class="card-title">Invalid Emails</h4>
                <p class="card-text" id="invalidEmailCount" ></p>
                <a href="" class="stretched-link"></a> 
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                url: '/RosterData/GetOrgsCount',
                type: 'GET',
                success: function (data) {
                    $('#orgsCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting org count');
                }
            });

            $.ajax({
                url: '/RosterData/GetSessionsCount',
                type: 'GET',
                success: function (data) {
                   $('#sessionsCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting session count');
                }
            });

            $.ajax({
                url: '/RosterData/GetUsersCount',
                type: 'GET',
                success: function (data) {
                    $('#usersCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting user count');
                }
            });

            $.ajax({
                url: '/RosterData/GetCoursesCount',
                type: 'GET',
                success: function (data) {
                    $('#coursesCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting courses count');
                }
            });

            $.ajax({
                url: '/RosterData/GetClassesCount',
                type: 'GET',
                success: function (data) {
                   $('#classesCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting classes count');
                }
            });

            $.ajax({
                url: '/RosterData/GetEnrollmentsCount',
                type: 'GET',
                success: function (data) {
                    $('#enrollmentsCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting enrollments count');
                }
            });

            $.ajax({
                url: '/Reports/GetNoIdPhotoCount',
                type: 'GET',
                success: function (data) {
                    $('#noIdCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting No Id count');
                }
            });

            $.ajax({
                url: '/Reports/GetNoQrCodeCount',
                type: 'GET',
                success: function (data) {
                    $('#noQrCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting No Qr count');
                }
            });

            $.ajax({
                url: '/Reports/GetInvalidEmailCount',
                type: 'GET',
                success: function (data) {
                    $('#invalidEmailCount').text(data);
                },
                error: function (data) {
                    console.log('Error getting Invalid Email count');
                }
            });

        });

        function ViewInvalidEmails(){
            console.log("clicked");
        }
    </script>

}