@using Microsoft.AspNetCore.Identity

@inject SignInManager<EmployeeModel> SignInManager
@inject UserManager<EmployeeModel> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IDGenWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <nav id="customNav" class="navbar sticky-top navbar-expand-lg navbar-dark ">
               <div class="container-fluid">
                   <div class="row justify-content-center nav-row">
                       <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="navbar-logo" src="~/Images/IdGenLogoThumbnailCropped2.png" alt="ID Gen Logo Thumbnail Cropped" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a id="manage" class="nav-link text-nowrap" title="Manage" readonly>Welcome @UserManager.GetUserAsync(User).Result.FirstName!</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link text-nowrap" asp-area="" asp-controller="Admin" asp-action="Dashboard">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-nowrap" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Roster Data
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="RosterData" asp-action="Orgs">Organizations</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RosterData" asp-action="Sessions">Academic Sessions</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RosterData" asp-action="Users">Users</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RosterData" asp-action="Courses">Courses</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RosterData" asp-action="Classes">Classes</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RosterData" asp-action="Enrollments">Enrollments</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-area="" asp-controller="Admin" asp-action="SiteUsers">Admins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-area="" asp-controller="Admin" asp-action="Templates">Templates</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-area="" asp-controller="Admin" asp-action="FilesUpload">Upload Files</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-area="" asp-controller="Reports" asp-action="Dashboard">Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-area="" asp-controller="Admin" asp-action="Imports">Imports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-area="" asp-controller="Admin" asp-action="Settings">Settings</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn-link logout-button">Logout</button>
                                </form>

                            </li>
                        </ul>
                    </div>
                   </div>
               </div>
            </nav>
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chromebooks</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Classes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Home Room</a>
                                <a class="dropdown-item" href="#">First Period</a>
                                <a class="dropdown-item" href="#">Second Period</a>
                                <a class="dropdown-item" href="#">Third Period</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">All Students</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Student/Chromebook" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        }
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2021 - IDGenWebsite -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
