@using Microsoft.AspNetCore.Identity

@inject SignInManager<EmployeeModel> SignInManager
@inject UserManager<EmployeeModel> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" title="Manage" readonly>Hello @UserManager.GetUserAsync(User).Result.FirstName!</a>
        </li>
    }
</ul>
