/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Navbar Styles
-------------------------------------------------- */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar {
    background-color: #171717;
    border-bottom-style: solid;
    border-color: #c13610;
    font-size: 30px;
}

.navbar-logo {
    height: 115px;
    width: auto;
}
.nav-row{
    margin:auto;
}
#customNav * {
    color: white;
}

.logout-button{
    background-color: #171717;
    border-style: none;
}

.nav-item{
    padding-right: 5px;
}

.dropdown-menu {
    background-color: #171717;
    border-left-style: solid;
    border-left-color: #c13610;
    border-right-style: solid;
    border-right-color: #c13610;
    border-bottom-style: solid;
    border-bottom-color: #c13610;
    border-width: 3px;
    font-size: 20px;
}

.dropdown-menu > a:hover {
    background-color: #c13610;
    background-image: none;
}

/* Navbar Styles
-------------------------------------------------- */

/* Provide sufficient contrast against white background */
a {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin-left: 5px;
  margin-right: 5px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    border-color: #c13610;
    border-top-style: solid;
    border-top-width: 2px;
    text-align: center;
    background-color: #171717;
    color: white;
}

.fa {
    margin-left: -12px;
    margin-right: 8px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*background: #222D32;*/
    background-color: #424e57;
}

/* Table Styles
-------------------------------------------------- */
.table {
    color: black;
    background-color: #e2e6e9;
}

.dataTable {

}
.custom-thead{
    border-bottom-color: #c13610;
    border-bottom-style: solid;
}

thead{
    background-color: #171717;
    color: white;

}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #171717;
    color: white;
}



tr *{
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.page-item.active .page-link {
    background-color: #c13610;
    border-color: black;
}

.page-link {
    color: white;
    border-color: #c13610;
}
.page-item.disabled .page-link {
    background-color: #171717;
    border-color: #c13610;
    color: #c13610;
}

.page-link {
    background-color: #171717;
    border-color: #c13610;
    
}

.dataTables_info{
    color: white;
}

.dataTables_filter {
    padding-top: 10px;
    color: white;
}

.dataTables_length{
    padding-top: 10px;
    color: white;
}

.pagination {
    
}

/* Table Styles
-------------------------------------------------- */

/* Dashboard Card Syles
-------------------------------------------------- */
.dashboard-card {
    background-color: #e2e6e9;
    border-color: #c13610;
    border-width: 3px;
    margin-top: 15px;
    width: 18rem;
}
/* Dashboard Card Syles
-------------------------------------------------- */

/* Student Modal Styles
-------------------------------------------------- */

.student-modal-header {
    color: white;
    background-color: #171717;
    border-bottom-color: #c13610;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    
}

h2.student-modal-header {
    text-align: center !important;
}

.student-modal-body {
    color: black;
    background-color: #e2e6e9;
}

.student-modal-footer {
    background-color: #171717;
    border-top-color: #c13610;
    border-top-style: solid;
    border-top-width: 2px;
}

.modalStudentDiv {
    border-bottom-color: #424e57 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}

.student-modal-btn {
    color: white;
    background-color: #c13610;
}

.student-modal-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Student Modal Styles
-------------------------------------------------- */

/* Side Nav Styles
-------------------------------------------------- */

.sideNav {
    min-height: calc(100vh - 225px);
    margin-bottom: 0px;
}


/* Side Nav Styles
-------------------------------------------------- */